<div id="add-animation">
  <div class="news col-sm-12">
    <header class="heading"><span class="heading__text">Achievements</span></header>
    <div class="loader" *ngIf="loader">
      <div class="box"></div>
    </div>
    <div class="events-wrap row">
      <div *ngFor="let n of Data; let i=index" class="event col-sm-5 col-xs-12">
        <div class="content">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <div class="texts">
            <p>{{n.title}}</p>
            <a class="round-button black link" target="_blank" href={{n.news}}>
                    Details
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                  </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
