<div class="main">
	<h1>Welcome to Dashboard...</h1>
	<button class="btn btn-primary home" data-target="#addModal" data-toggle="modal">Add New User</button>
</div>



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Add Credentials
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form [formGroup]="facultyhome">
					Username:
					<input type="text" formControlName="username" placeholder="enter username here" required><br><br>
					<div *ngIf="facultyhome.controls['username'].invalid && (facultyhome.controls['username'].dirty || facultyhome.controls['username'].touched)"
						class="alert alert-danger">
						<div *ngIf="facultyhome.controls['username'].errors.required">
							This field is required.
						</div>
					</div>
					Firstname:
					<input type="text" formControlName="first_name" placeholder="enter firstname here" required><br><br>
					<div *ngIf="facultyhome.controls['first_name'].invalid && (facultyhome.controls['first_name'].dirty || facultyhome.controls['first_name'].touched)"
						class="alert alert-danger">
						<div *ngIf="facultyhome.controls['first_name'].errors.required">
							This field is required.
						</div>
					</div>
					Lastname:
					<input type="text" formControlName="last_name" placeholder="enter lastname here" required><br><br>
					<div *ngIf="facultyhome.controls['last_name'].invalid && (facultyhome.controls['last_name'].dirty || facultyhome.controls['last_name'].touched)"
						class="alert alert-danger">
						<div *ngIf="facultyhome.controls['last_name'].errors.required">
							This field is required.
						</div>
					</div>
					<!-- Branch:
        <input type="text" formControlName="branch" placeholder="Branch name here" required><br><br>
        <div
        *ngIf="facultyhome.controls['branch'].invalid && (facultyhome.controls['branch'].dirty || facultyhome.controls['branch'].touched)"
        class="alert alert-danger">
        <div *ngIf="facultyhome.controls['branch'].errors.required">
          This field is required.
        </div>
      </div> -->
					Email:
					<input type="email" formControlName="email" placeholder="enter email here" required><br><br>
					<div *ngIf="facultyhome.controls['email'].invalid && (facultyhome.controls['email'].dirty || facultyhome.controls['email'].touched)"
						class="alert alert-danger">
						<div *ngIf="facultyhome.controls['email'].errors.required">
							This field is required.
						</div>
						<div *ngIf="facultyhome.controls['email'].invalid && (facultyhome.controls['email'].dirty)">
							Enter a valid email address.
						</div>
					</div>
					Password:
					<input type="password" formControlName="password" placeholder="enter password here"
						required><br><br>
					<div *ngIf="facultyhome.controls['password'].invalid && (facultyhome.controls['password'].dirty || facultyhome.controls['password'].touched)"
						class="alert alert-danger">
						<div *ngIf="facultyhome.controls['password'].errors.required">
							This field is required.
						</div>
					</div>
					<hr />

					<form [formGroup]="facultyhome1">

						Profile Picture:
						<input type="file" formControlName="profile_pic" (change)="getFile($event)"><br><br>
						<!-- User:
          <input type="text" formControlName="User" placeholder="enter username here" required><br><br>
             <div
        *ngIf="facultyhome1.controls['User'].invalid && (facultyhome1.controls['User'].dirty || facultyhome1.controls['User'].touched)"
        class="alert alert-danger">
        <div *ngIf="facultyhome1.controls['User'].errors.required">
          This field is required.
        </div>
      </div> -->
						Designation*:
						<input type="text" formControlName="designation" placeholder="enter designation here"
							required><br><br>
						<div *ngIf="facultyhome1.controls['designation'].invalid && (facultyhome1.controls['designation'].dirty || facultyhome1.controls['designation'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['designation'].errors.required">
								This field is required.
							</div>
						</div>
						Qualification*:
						<input type="text" formControlName="Qualification" placeholder="enter qualification here"
							required><br><br>
						<div *ngIf="facultyhome1.controls['Qualification'].invalid && (facultyhome1.controls['Qualification'].dirty || facultyhome1.controls['Qualification'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['Qualification'].errors.required">
								This field is required.
							</div>
						</div>
						Experience (in years):
						<input type="number" formControlName="Experience" placeholder="enter experience here"
							required><br><br>
						<div *ngIf="facultyhome1.controls['Experience'].invalid && (facultyhome1.controls['Experience'].dirty || facultyhome1.controls['Experience'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['Experience'].errors.required">
								This field is required.
							</div>
						</div>
						Specialization:
						<input type="text" formControlName="speacialization" placeholder="enter Specialization here"
							required><br><br>
						<div *ngIf="facultyhome1.controls['speacialization'].invalid && (facultyhome1.controls['speacialization'].dirty || facultyhome1.controls['speacialization'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['speacialization'].errors.required">
								This field is required.
							</div>
						</div>
						Nation Publications:
						<input type="number" formControlName="nation_Publications"
							placeholder="enter no of nation publications here" required><br><br>
						<div *ngIf="facultyhome1.controls['nation_Publications'].invalid && (facultyhome1.controls['nation_Publications'].dirty || facultyhome1.controls['nation_Publications'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['nation_Publications'].errors.required">
								This field is required.
							</div>
						</div>
						International Publications:
						<input type="number" formControlName="international_publication"
							placeholder="enter no of international publications here" required><br><br>
						<div *ngIf="facultyhome1.controls['international_publication'].invalid && (facultyhome1.controls['international_publication'].dirty || facultyhome1.controls['international_publication'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['international_publication'].errors.required">
								This field is required.
							</div>
						</div>
						Faculty Publication Url:
						<input type="text" formControlName="faculty_publication_url"
							placeholder="enter no of international publications here" required><br><br>
						<div *ngIf="facultyhome1.controls['faculty_publication_url'].invalid && (facultyhome1.controls['faculty_publication_url'].dirty || facultyhome1.controls['faculty_publication_url'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['faculty_publication_url'].errors.required">
								This field is required.
							</div>
						</div>
						Date Of joining:
						<input type="date" formControlName="date_of_joining"
							placeholder="enter no of international publications here" required><br><br>
						<div *ngIf="facultyhome1.controls['date_of_joining'].invalid && (facultyhome1.controls['date_of_joining'].dirty || facultyhome1.controls['date_of_joining'].touched)"
							class="alert alert-danger">
							<div *ngIf="facultyhome1.controls['date_of_joining'].errors.required">
								This field is required.
							</div>
						</div>
						Faculty Admin:
						<input type="checkbox" formControlName="is_faculty_admin" required>
					</form>
					<div class="modal-footer">
						<button type="button" (click)="UserSubmit()" class="btn btn-default"
							data-dismiss="modal">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Success
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>You have successfully Added User. </h4>
			</div>
		</div>
	</div>
</div>