@import "src/styles.scss";

.d-wrap{
  animation: $reveal;
}

// h1{
//   padding: 20px 0;
//   color: $primary;
// }



.content{
  padding: 0 30px;
}

.down{
    background: grey;
    padding: 3px 10px;
    border-radius: 20px;
}

.outer-contain{
    padding: 10px;
    border: 1px solid grey;
}