<div class="d-wrap">
  <app-nav></app-nav>
  <!-- <div class="container">
    <div class="d-dash row row-eq-height">
      <div class="col-sm-3 sidebar">
        <h4>Menu</h4>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a [routerLink]="[url+'/faculty']" routerLinkActive="active">Faculty</a>
        <a [routerLink]="[url+'/lab-resource']" routerLinkActive="active">Lab Resources</a>
        <a [routerLink]="[url+'/faculty-publication']" routerLinkActive="active">Faculty Publications</a>
        <h4>Resources</h4>
        <a [routerLink]="[url+'/notice']" routerLinkActive="active">Notices</a>
        <a [routerLink]="[url+'/time-table']" routerLinkActive="active">Time Table</a>
        <a [routerLink]="[url+'/lesson-plan']" routerLinkActive="active">Lesson Plan</a>
        <a href="http://www.ipu.ac.in/syll.php" target="_blank">Syllabus</a>
        <a href="http://www.ipu.ac.in/acadcall.php" target="_blank">Academic Calendar</a>
        <a [routerLink]="[url+'/self-learning']" routerLinkActive="active">Self Learning</a>
        <a [routerLink]="[url+'/study-material']" routerLinkActive="active">Study Material</a>
        <a href="http://www.ipu.ac.in/exam_datesheet.php" target="_blank">Datesheet</a>
        <a href="http://www.ipu.ac.in/exam_results.php" target="_blank">Results</a>
      </div>
      <div class="col-sm-9 content">
      </div>
    </div>
  </div>
  <app-foot></app-foot> -->
        <router-outlet ></router-outlet>
        <app-foot></app-foot>

</div>
