<div id="add-animation">
    <header class="heading"><span class="heading__text">Pillars of BPIT</span></header>
    <div class="card-wrap">
      <div class="card">
        <img src="../../../../assets/images/payal1.JPG" class=" center-h pic" alt="">
        <div class="card__text">Prof. Payal Pahwa</div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/gaur.jpg" class=" center-h pic" alt="">
        <div class="card__text">Prof. YD Gaur</div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/abhijeet.JPG" class="center-h pic" alt="">
        <div class="card__text"> Prof. Abhijit Nayak</div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/aktondon.png" class=" center-h pic" alt="">
        <div class="card__text">Prof. AK Tandon</div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/crjagga.png" class=" center-h pic" alt="">
        <div class="card__text">Prof. CR Jagga</div>
      </div>
      <div class="card">
        <img src="../../../../assets/images/ece16.png" class=" center-h pic" alt="">
        <div class="card__text">Prof. Anuradha Bhasin</div>
      </div>
    </div>
</div>
