<div id="add-animation">
  <h1>Sports</h1>
    <img src="../../../../assets/images/sport.jpg" alt="" class="people-image center-h">
  <p id="text-content">BPIT has excellent facilities for outdoor games such as cricket, football, volleyball, basketball, tennis, badminton etc. and also for indoor games such as table tennis, carrom, chess etc. The Sports Room constitutes two TT tables (Imported), rackets, carrom boards, chessboards and an entire range of cricket equipment including mats, nets, helmets, protective gears etc. The Institute also has a fitness zone equipped with treadmills.
The students of BPIT have won several accolades and medals in volleyball, table tennis and wrestling in Inter-Institute Annual Sports Meet of GGSIPU.</p>

</div>
