<div id="add-animation">
	<h1>Examinations</h1>
	<p id="text-content">
		Examination division is one of the important service departments of the institute. Bhagwan Parshuram Institute
		of Technology has fully equipped examination division which has capacity of conducting examination of 1000
		students in a single shift. Examination division is responsible for conducting of examinations ranging from
		sessional exams to end term practical exams of in-house students. <br> <br>

		In addition to this, the institute is also designated as the official examination centre by GGSIPU for
		conducting End – Term examination, supplementary examination of other colleges under GGSIPU University and CET
		examination. <br> <br>

		The other important work associated with the exam cell is RC verification, Distribution of OMR Sheets, Result
		analysis and coordination with the university. The examination team comprises senior and experienced faculty
		members from different departments of the institute. <br> <br>

	</p>
</div>