<app-nav></app-nav>

<div class="f-wrap container">
  <h2 id="clr">
    <i class="fa fa-cogs" aria-hidden="true"></i>
    Bachelor of Technology
  </h2>
  <!-- <div class="f-dash row">
    <div class="col-sm-3 sidebar">
      <h4>Menu</h4>
      <a routerLink="examinations" routerLinkActive="active">Eligibility</a>
      <a routerLink="events" routerLinkActive="active">Fee Structure</a>
      <a routerLink="publications" routerLinkActive="active">Get Registered</a>
    </div>
    <div class="col-sm-9 content">
      <router-outlet></router-outlet>
    </div>
  </div> -->
  
</div>
<app-foot></app-foot>