<div id="add-animation">
	<header class="heading"><span class="heading__text">Library</span></header>
</div>
<section id="blog-detail" class="blog-detail-section padding" id="add-animation">
	<div class="container">
		<div class="row section-content">
			<div class="col-lg-8">
				<div class="blog-detail-content pb20">
					<h3 class="heading__text">A library is the delivery room for the birth of ideas, a place where
						history comes to life &nbsp;<i style="font-weight: 550;">-Norman Cousins</i></h3>
					<h3 class="heading__text">A library is not a luxury but one of the necessities of life &nbsp;<i
							style="font-weight: 550;"> -H.W. Beecher </i></h3>
					<p id="text-content">BPIT library is centrally air conditioned and spacious. The salient features of
						the library are:</p>
					<div class="blog-detail-pic pb30"> <img src="../../../../assets/images/lib.jpg"
							class="people-image center-h" width="600px" height="400px"> </div>

					<ul class="categories-list-item" style="list-style:none;">
						<li id="text-content">1. 42279 books and 6095 titles, including good quality books on Applied
							Mathematics, Applied Physics, Applied Chemistry, Communication skills, Engineering Mechanics
							and a wide range standard quality books on Computer Science Engineering, Electronics and
							Communication Engineering, Information Technology, and Electrical Engineering and graduate
							and post graduate level books on Management Studies.</li>
						<li id="text-content">2. Book Bank facility for all the students.</li>
						<li id="text-content">3. 151 chairs in the central position for study.</li>
						<li id="text-content">4. 55 good quality hard copy journals.</li>
						<li id="text-content">5. DELNET package of on line journals.</li>
						<li id="text-content">6. 15 news papers and 10 magazines. </li>
						<li id="text-content">7. Separate section for faculty members for study and accessing online
							journals.</li>
						<li id="text-content">8. Separate section for students to access the online journals.</li>
						<li id="text-content">9. OPAC facility.</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>