<app-nav></app-nav>
<div class="disclosure-wrap container" style="text-align:center;">
	<h2 id="clr">Development Team</h2>
</div>

<div class="container" style="margin-top: 3rem; padding: 5px;">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize">
				<img src="../../../../assets/images/AchalSir.png" class="card__pic" alt="">
				<div class="card__text">Dr. Achal Kaushik</div>
				<div class="card__text">Co-ordinator</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize">
				<img src="../../../../assets/images/Nishutosh Sharma.png" class="card__pic" alt="">
				<div class="card__text">Nishutosh Sharma</div>
				<div class="card__text">Branch: CSE - A </div>
				<div class="card__text">Batch: 2015 - 2019 </div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize" style="margin: 0 auto; justify-content: center;">
				<img src="../../../../assets/images/Mayank Jha.png" class="card__pic" alt="">
				<div class="card__text">Mayank Jha</div>
				<div class="card__text">Branch: CSE - A </div>
				<div class="card__text">Batch: 2016 - 2020 </div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 3rem; padding: 5px;">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize">
				<img src="../../../../assets/images/Mayank Sharma.png" class="card__pic" alt="">
				<div class="card__text">Mayank Sharma</div>
				<div class="card__text">Branch: CSE - A </div>
				<div class="card__text">Batch: 2016 - 2020 </div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize">
				<img src="../../../../assets/images/Ritika Chauhan.png" class="card__pic" alt="">
				<div class="card__text">Ritika Chauhan</div>
				<div class="card__text">Branch: IT </div>
				<div class="card__text">Batch: 2018 - 2022 </div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<div class="teamText cardSize">
				<img src="../../../../assets/images/Shubham Jindal.png" class="card__pic" alt="">
				<div class="card__text">Shubham Jindal</div>
				<div class="card__text">Branch: CSE - A </div>
				<div class="card__text">Batch: 2019 - 2023 </div>
			</div>
		</div>
	</div>
</div>

<app-foot></app-foot>