<div id="add-animation" class="recruiters">
  <header class="heading"><span class="heading__text">Recruiters</span></header>
     <!-- <div class="text-center">
       <loader [condition]="loader"></loader>
    </div>  -->

      <!-- <div class="company  ">
        <div class="name">name of my company</div>
        <div class="logo-container"><img  class="logo" src="https://i.pinimg.com/736x/33/b8/69/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg"></div>
      </div>

            <div class="company  ">
        <div class="name">name of my company</div>
        <div class="logo"><img src="https://i.pinimg.com/736x/33/b8/69/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg"></div>
      </div>

            <div class="company  ">
        <div class="name">name of my company</div>
        <div class="logo"><img src="https://i.pinimg.com/736x/33/b8/69/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg"></div>
      </div>
            <div class="company  ">
        <div class="name">name of my company</div>
        <div class="logo"><img src="https://i.pinimg.com/736x/33/b8/69/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg"></div>
      </div>
      <div class="company">
        <div class="name">name of my company</div>
        <div class="logo"><img src="https://i.pinimg.com/736x/33/b8/69/33b869f90619e81763dbf1fccc896d8d--lion-logo-modern-logo.jpg"></div>
      </div> -->
    <div *ngIf="!error">
      <div class="company"  *ngFor="let l of list">
        <div class="name" ><h1>{{l.recruiter_name}}</h1></div>
        <div class="logo  center-h"><img class="people-image center-h recruiters__pic" src="{{l.logo}}"></div>
      </div>
    </div>



</div>
