<div id="add-animation departments about">
	<header class="heading"><span class="heading__text">About the Department</span></header>
	<p id="text-content">With the right mix of creative talents, use of innovative technologies and strong relationships
		with various industries, the department imparts quality education in CSE to provide the students an unbeatable
		edge to success at the demanding work places in global market.</p>
	<br>

	<header class="heading"><span class="heading__text">Vision</span></header>
	<p id="text-content">To emerge as a centre of excellence producing globally competent and morally sound
		professionals in the field of Computer Science who will practice commitment to their profession and dedicate
		themselves to the service of mankind.</p>
	<br>

	<header class="heading"><span class="heading__text">Mission</span></header>
	<ol id="text-content">
		<li>To develop state-of-the-art laboratories providing relevant practical inputs to students.</li>
		<li>To provide strong knowledge base to students in the area of Computer Science and to train them as per
			requirement of industries and research organizations.</li>
		<li>To facilitate institute industry interaction to the benefit of stake holders and to motivate teachers for
			continuous improvement of their academic standards.</li>
	</ol>
	<br>

	<header class="heading"><span class="heading__text">PEOs</span></header>
	<ol id="text-content">
		<li>Graduates will possess expertise in mapping their design and programming skills in tune with the requirement
			of the industry in order to accomplish a successful career in corporate world including entrepreneurship.
		</li>
		<li>Having specialized in advanced areas of Computer Science and Engineering the graduates will be able to
			pursue higher studies in these areas and enter the field of academics.</li>
		<li>Graduates will exhibit interpersonal skills and sense of social responsibilities as well as environmental
			concerns so as to become good citizens working professionally to the advantage of society.</li>
	</ol>

</div>