<div class="main">
  <h1>Welcome to your Dashboard...</h1>
  <button class="btn btn-primary home" data-target="#addModal" data-toggle="modal">Add New User</button>
</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Add Credentials
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="user" [formGroup]="user">
          Username:
          <input type="text" formControlName="username"
            [ngClass]="{'is-invalid': user.get('username').touched && user.get('username').invalid}"
            placeholder="enter username here" required>
          <div *ngIf="user.get('username').touched" class="invalid-feedback">This field is required.</div>
          <br><br>
          Firstname:
          <input type="text" formControlName="first_name"
            [ngClass]="{'is-invalid': user.get('first_name').touched && user.get('first_name').invalid}"
            placeholder="enter firstname here" required>
          <div *ngIf="user.get('first_name').touched" class="invalid-feedback">This field is required.</div>
          <br><br>
          Lastname:
          <input type="text" formControlName="last_name"
            [ngClass]="{'is-invalid': user.get('last_name').touched && user.get('last_name').invalid}"
            placeholder="enter lastname here" required>
          <div *ngIf="user.get('last_name').touched" class="invalid-feedback">This field is required.</div>
          <br><br>
          Email:
          <input type="email" formControlName="email"
            [ngClass]="{'is-invalid': user.get('email').touched && user.get('email').invalid}"
            placeholder="enter email here" required>
            <br><br>
          <div *ngIf="user.get('email').touched" class="invalid-feedback">This field is required.</div>
          <!-- <div *ngIf="user.get('email').errors.pattern" class="invalid-feedback">Please enter a valid email address.</div> -->
          Password:
          <input type="password" formControlName="password" placeholder="enter password here"
            [ngClass]="{'is-invalid': user.get('password').touched && user.get('password').invalid}" required>
          <div *ngIf="user.get('password').touched" class="invalid-feedback">This field is required.</div>
          <br><br>
          <hr />
          <form [formGroup]="Team">
            <div class="form-group">
              <br> <label for="title">Profile pic</label>
              <input type="file" class="form-control" name="profile_pic" formControlName="profile_pic"
                (change)="getFile($event)">
              <br> <label for="title">Phone Number</label>
              <input type="number" class="form-control" name="Phone_Number" formControlName="Phone_Number"
                [ngClass]="{'is-invalid': Team.get('Phone_Number').touched && Team.get('Phone_Number').invalid}"
                placeholder="enter number here">
              <div *ngIf="Team.get('Phone_Number').touched" class="invalid-feedback">This field is required.</div>
              <br> <label for="title">Designation</label>
              <input type="text" class="form-control" name="designation" formControlName="designation"
              [ngClass]="{'is-invalid': Team.get('designation').touched && Team.get('designation').invalid}"
              placeholder="enter title here">
              <div *ngIf="Team.get('designation').touched" class="invalid-feedback">This field is required.</div>
              <br> <label for="title">Is faculty admin?</label> <input type="checkbox" name="is_placement_team_admin"
                formControlName="is_placement_team_admin">
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" (click)="UserSubmit()" class="btn btn-default" data-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="FacultyAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Add Credentials
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <div class="modal-footer">
          <button type="button" (click)="FacultySubmit()" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Success
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>You have successfully Added User. </h4>
      </div>
    </div>
  </div>
</div>
