<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<app-nav></app-nav>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css">

<div class="home-wrap">
  <marquee *ngFor="let m of marquee">
    <span style="margin-top:-10px; font-weight:bolder; color: #f34043; font-size: 14px;"
      id="clr">{{m.marquee_text}}</span>
  </marquee>
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->

    <!-- Middle Column -->
    <div class="w3-col m12">
        <div id="banner">
        	<video autoplay="" class="banner-video" loop="" preload="auto">
            <source src="../../assets/gallery/video/second.mp4" type="video/mp4">
          </video>
        </div>
        <br>
      <!-- </div> -->
      <!-- End Middle Column -->
    </div>


    <!-- <div _ngcontent-c1="" class="carousel slide" data-ride="carousel" id="screenshot-carousel">
    <ol _ngcontent-c1="" class="carousel-indicators">
      <li _ngcontent-c1="" class="" data-slide-to="0" data-target="#screenshot-carousel" class="active"></li>
      <li _ngcontent-c1="" data-slide-to="1" data-target="#screenshot-carousel" class=""></li>
      <li _ngcontent-c1="" data-slide-to="2" data-target="#screenshot-carousel"></li>

    </ol>

    <div _ngcontent-c1="" class="carousel-inner">
      <div _ngcontent-c1="" class="item active">
        <img _ngcontent-c1="" alt="Bootstrap Touch Slider" class="slide-image" id="img2"
          src="../../../assets/images/slide-1.jpg">
        <div _ngcontent-c1="" class="bs-slider-overlay"> </div>
        <div _ngcontent-c1="" class="container">
          <div _ngcontent-c1="" class="row">

            <div _ngcontent-c1="" class="slide-text slide_style_left" style="font-weight:bolder;">
              <h1 _ngcontent-c1=""></h1>
              <p _ngcontent-c1=""></p>

            </div>
          </div>
        </div>
      </div>

      <div _ngcontent-c1="" class="item">

        <img _ngcontent-c1="" alt="text of the image" id="img1" src="../../../assets/images/slide-2.jpg">
        <div _ngcontent-c1="" class="bs-slider-overlay"></div>

        <div _ngcontent-c1="" class="slide-text slide_style_left" style="font-weight:bolder;">

          <h1 _ngcontent-c1=""></h1>
          <p _ngcontent-c1=""></p>
        </div>
      </div>

      <div _ngcontent-c1="" class="item">

        <img _ngcontent-c1="" alt="Bootstrap Touch Slider" class="slide-image" id="img3"
          src="../../../assets/images/slide-3.jpg">
        <div _ngcontent-c1="" class="bs-slider-overlay"></div>

        <div _ngcontent-c1="" class="slide-text slide_style_left" style="font-weight:bolder;">
          <h1 _ngcontent-c1=""></h1>
          <p _ngcontent-c1=""></p>
        </div>
      </div>
    </div>

    <a _ngcontent-c1="" class="left carousel-control" data-slide="prev" href="#screenshot-carousel" role="button">
      <span _ngcontent-c1="" class="glyphicon glyphicon-chevron-left"></span>
      <span _ngcontent-c1="" class="sr-only">Previous</span>
    </a>
    <a _ngcontent-c1="" class="right carousel-control" data-slide="next" href="#screenshot-carousel" role="button">
      <span _ngcontent-c1="" class="glyphicon glyphicon-chevron-right"></span>
      <span _ngcontent-c1="" class="sr-only">Next</span>
    </a>

  </div> -->
    <br _ngcontent-c1="">

    <!-- end carousel -->

    <!-- Right Column -->
    <section class="w3-col m12" style="margin-top: 2rem; margin-bottom: 2rem;">
      <div class="container-fluid middleNotice">
        <div class="col-lg-4 col-md-4 col-sm-6 m4">
          <div class="w3-card w3-white w3-center" style="margin-top: 6px;">
            <div style="height:300px; overflow:hidden;">
              <div class="notices" style="padding: 6px;">
                <h3 style="color: #2e3094;">News</h3>
                <marquee behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop();"
                  onmouseout="this.start();">


                  <div *ngFor="let n of news; let i=index">
                    <!-- <div *ngIf=" n.display_to_home==true"> -->
                    <a target="_blank" href={{n.news}}>
                      <div class="notice-wrap">
                        <div class="notice">
                          <div class="content">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                            <p>{{n.title}}</p>
                          </div>
                          <br>
                          <a target="_blank" href={{n.news}}>Click for details</a>
                        </div>
                      </div>
                    </a>
                  </div>

                </marquee>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m4">
          <div class="w3-card w3-white w3-center" style=" margin-top: 6px;">
            <div style="height:300px; overflow:hidden; padding: 5px;">
              <div class="notices" style="padding: 6px;">
                <h3 style="color: #2e3094;">Notices</h3>
                <div class="loader" *ngIf="noticesLoader">
                  <div class="box"></div>
                </div>
                <marquee behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop();"
                  onmouseout="this.start();">
                  <div *ngFor="let notice of notices">
                    <div *ngIf=" notice.display_to_home==true">
                      <a target="_blank" href={{notice.notices}}>
                        <div class="notice-wrap">
                          <div class="notice">
                            <div *ngIf=" notice.examination_notice==true" class="red">Examination</div>
                            <div class="content">
                              <i class="fa fa-bell-o" aria-hidden="true"></i>
                              <p>{{notice.title}}</p>
                            </div>
                            <br>
                            <a target="_blank" href={{notice.notices}}>Click for details</a>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </marquee>
              </div>
              <br><br>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m4">
          <div class="w3-card w3-white w3-center" style="margin-top: 6px;">
            <div style="height:300px; overflow:hidden;">
              <div class="notices" style="padding:6px;">
                <h3 style="color: #2e3094;">Events</h3>
                <div class="loader" *ngIf="eventsLoader">
                  <div class="box"></div>
                </div>
                <marquee behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop();"
                  onmouseout="this.start();">

                  <div *ngFor="let event of events; let i=index">
                    <!-- <div *ngIf=" n.display_to_home==true"> -->
                    <a target="_blank" href={{event.events}}>
                      <div class="notice-wrap">
                        <div class="notice">
                          <div class="content">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                            <p>{{event.title}}</p>
                          </div>
                          <br>
                          <a target="_blank" href={{event.events}}>Click for details</a>
                        </div>
                      </div>
                    </a>
                  </div>

                  <!-- <div class="events-wrap row">

                  <div *ngFor="let event of events; let i=index" class="event col-sm-11">

                    <div class="content">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <div class="texts">
                        <p style="font-size:15px;">{{event.title}}</p>
                        <a class="round-button black link" target="_blank" href={{event.events}}>
                          Details
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div> -->
                </marquee>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Right Column -->
    </section>

    <!-- End Grid -->
    <!-- </div> -->

    <!-- End Page Container -->
    <br>
    <script>
      // Accordion
      function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          x.previousElementSibling.className += " w3-theme-d1";
        } else {
          x.className = x.className.replace("w3-show", "");
          x.previousElementSibling.className =
            x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
      }

      // Used to toggle the menu on smaller screens when clicking on the menu button
      function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else {
          x.className = x.className.replace(" w3-show", "");
        }
      }
    </script>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <div class="container-fluid" style="background:#f1f1f1;">
    <br><br><br>
    <h1 id="glance">BPIT AT A <strong style="color: #EF2123;">GLANCE</strong></h1>
    <p id="glancep">BPIT is a pioneer Institute providing education to the students of delhi and outside delhi in the
      field of engineering and management since more than a decade. BPIT is the only self financing institute affiliated
      to GGSIP University whose all UG engineering programs (B.Tech. CSE/IT/ ECE / EEE) are NBA (National Board of
      Accreditation) which in itself certifies the quality policy and standards followed in BPIT. All the labs in BPIT
      are
      well equipped. The fully dedicated placement team of BPIT has assured the placement of BPIT students in reputed
      companies such as amazon, zomato, Virtusa, ByJuY’s, LibSys, IBM, Samsung, Motherson Sumi, Sopera Steria and many
      more. BPIT is spread in an area of about 5.7 acres and has four storey building of academic and office complex
      with
      lifts. A girl student's Hostel having 64 double occupancy rooms, with all modern amenities has been constructed
      and
      furnished.</p>
    <div class="row">

      <div class="col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#">
            <div class="wrimagecard-topimage_header"
              style="background-color:  rgba(51, 105, 232, 0.1);text-align:center;">
              <img src="../../../../assets/home/4.jpg" width="100%" height="300px" alt="">
            </div>
            <div class="wrimagecard-topimage_title">
              <h4 style="text-overflow:hidden;">BPIT received outstanding Contributor Award from ICT Academy &
                Salesforce
                India
                <div class="pull-right badge" id="WrGridSystem"></div>
              </h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#">
            <div class="wrimagecard-topimage_header"
              style="background-color:  rgba(250, 188, 9, 0.1);text-align:center;">

              <img src="../../../../assets/home/7.jpg" width="100%" height="300px" alt="">
            </div>
            <div class="wrimagecard-topimage_title">
              <h4 style="text-overflow:hidden;">Best Paper award to research paper of BPIT Student & Faculty in SIGMA
                2018
                <div class="pull-right badge" id="WrInformation"></div>
              </h4>
            </div>

          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="wrimagecard wrimagecard-topimage">
          <a href="#">
            <div class="wrimagecard-topimage_header"
              style="background-color: rgba(121, 90, 71, 0.1);text-align:center;">

              <img src="../../../../assets/home/6.jpg" width="100%" height="300px" alt="">
            </div>
            <div class="wrimagecard-topimage_title">
              <h4 style="text-overflow:hidden;">The final year B.Tech IT students filed a patent for their process &
                technique named as PoS SaaS. The technique is designed to change the user experience in Restaurants and
                reduce the cost of the owner. They also started a company “One Root Technology”.
                <div class="pull-right badge" id="WrNavigation"></div>
              </h4>
            </div>

          </a>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <!-- statistics -->
  <section class="statistics-section section-space-padding bg-cover text-center"
    style="background-image: url(../../../../assets/gallery/breadcrumb.jpg);" data-stellar-background-ratio="0.3">
    <div class="container">
      <h1 style="color:#fff;font-weight:bolder;">Why Choose Us</h1>
      <div class="row">
        <div class="statistics-center">
          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><i class="far fa-address-book color-1"></i>
              </div>
              <div class="statistics-content">
                <h5><span data-count="31" class="statistics-count">93</span></h5><span>Teachers</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><i class="fas fa-book color-3"></i>
              </div>
              <div class="statistics-content">
                <h5> <span data-count="120" class="statistics-count">915</span></h5><span>Publications</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><i class="fa fa-graduation-cap color-5"></i>
              </div>
              <div class="statistics-content">
                <h5><span data-count="200" class="statistics-count">1805</span></h5><span>Students</span>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="statistics">
              <div class="statistics-icon"><i class="fas fa-trophy color-4"></i>
              </div>
              <div class="statistics-content">
                <h5><span data-count="400" class="statistics-count">23</span></h5><span>Awards Won</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- statistics end -->

  <section id="partner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3>Our Collaborators</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="clients">
          <div id="testimonial-carousel2">
            <li class="item">
              <img src="../../../../assets/home/partner-6.jpg" width="200px" height="100px" alt="...">
            </li>
            <li class=" item">
              <img src="../../../../assets/home/partner-8.png" width="200px" height="100px" alt="...">
            </li>

            <li class=" item">
              <img src="../../../../assets/home/partner-9.jpg" width="200px" height="100px" alt="...">
            </li>
            <li class=" item">
              <img src="../../../../assets/home/partner-10.png" wwidth="300px" height="100px" alt="...">
            </li>
            <li class=" item">
              <img src="../../../../assets/home/partner-11.jpg" width="200px" height="100px" alt="...">
            </li>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d111956.91355414972!2d77.07691246887508!3d28.729898056958948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0130445fa42d%3A0x154521d473fe3d5f!2sBhagwan+Parshuram+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1526965817114"
    width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>


  <app-foot></app-foot>
